* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ui_common_word {
    .txt {
        transform: translateY(100px);
        opacity: 0;
        transition: .8s ease;
    }

    .title {
        transform: translateY(100px);
        opacity: 0;
        transition: .8s ease;
    }
}