			body{
				font-size: 0;
				background-color: #FFFFFF;
			}
			*{
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}
			
			header{
				width: 100%;
				z-index: 999;
				position: sticky;
				top: 0;
				nav{
					width: 100%;
					height: 64px;
					background: #31363A;
					opacity: 0.9;
					backdrop-filter: blur(16px); 
					font-size: 20px;
				}
			}
			.animationOne_zx{
				width: 100%;
				height: 230vh;
				z-index: 1;
				position: relative;
				background-color: #FFFFFF;
				#containerOne{
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					height: 100vh;
					overflow: hidden;
					position: sticky;
					top: 64px;
				}
				#words{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					z-index: 2;
					display: flex;
					flex-direction: column;
					align-items: center;
					color: #FFFFFF;
					transition: all .4s linear;
					white-space: nowrap;
				}
				.wordsOne{
					transform: translate(-50%,-50%) !important;
					color: #FFFFFF;
				}
				.wordsTwo{
					transform: translate(-50%,-11vh) !important;
					color: #c8c8c8;
				}
				.wordsThree{
					transform: translate(-50%,-18vh) !important;
					color: #969696;
				}
				.wordsFour{
					transform: translate(-50%,-25vh) !important;
					color: #646464;
				}
				.wordsFive{
					transform: translate(-50%,-32vh) !important;
					color: #323232;
				}
				.wordsSix{
					transform: translate(-50%,-39vh) !important;
					color: #000000;
				}
				.title{
					font-size: 40px;
					font-weight: 600;
					margin-bottom: 20px;
				}
				.dec{
					font-size: 72px;
					font-weight: 600;
				}
				#imgDOM{
					position: absolute;
					top: 50%;
					left: 50%;
					margin-top: 3vh;
					width: 720px;
					height: 540px;
					transform: translate(-50%,-5%) scale(10);
					transition: transform .4s linear;
				}
				video{
					position: absolute;
					top: 50%;
					left: calc(50% - 21px);
					// left: 50%;
					width: 720px;
					height: 540px;
					margin-top: 3vh;
					transform: translate(-50%,-50%);
					opacity: 0;
					transition: transform .3s linear;
					background-color: #FFFFFF;
				}
				.imgOne{
					transform: scale(2);
				}
				.imgTwo{
					transform: scale(1.5);
				}
				.imgThree{
					transform: scale(1);
				}
				.imgFour{
					transform: scale(.7);
				}
				.imgFive{
					transform: scale(.45);
				}
				.imgSix{
					transform: scale(.25);
				}
			}

			.animationTwo_zx{
				width: 100%;
				height: 100vh;
				background-color: #000000;
				position: relative;
				#animationTwoWordsOne{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					font-size: 200px;
					font-weight: 600;
					background-image: linear-gradient(-45deg, rgb(0, 0, 0) 100%, rgb(255,255,255) 0%);
					-webkit-text-fill-color: transparent;
					-webkit-background-clip: text;
					line-height: 200px;
					z-index: 3;
				}
				#animationTwoContainer{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					z-index: 1;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					#animationTwoWordsTwo{
						color: #FFFFFF;
						font-size: 48px;
						line-height: 48px;
						transform: translateY(90px);
						opacity: 0;
						transition: all 1s ease;
					}
					#animationTwoWordsThree{
						color: #FFFFFF;
						font-size: 20px;
						line-height: 30px;
						margin-top: 32px;
						transform: translateY(90px);
						opacity: 0;
						transition: all 1s ease;
					}
					#animationTwoImg{
						width: 500px;
						height: 440px;
						margin-top: 104px;
						position: relative;
						img{
							width: 100%;
							height: 100%;
							position: absolute;
							top: 0;
							left: 0;
							opacity: 0;
						}
						#animationTwoImgOne{
							z-index: 1;
						}
						#animationTwoImgTwo{
							z-index: 2;
						}
						.openHelmet{
							animation:openHelmetAnimation 2s linear infinite;
						}
						@keyframes openHelmetAnimation
						{
							0% {
									opacity: 1;
								}
							50% {
									opacity: .5;
								}
							100% {
									opacity: 1;
							}
						}
					}
				}
			}

			#simpleBgOne{
				width: 100%;
				height: 100vh;
				position: sticky;
				top: 0;
				z-index: -1;
				background: url(../img/simpleOne.png);
				background-size: 100% 100%;
				transition: all .7s linear;
				// background-position: center top;
				// background-size: cover;
				// background-attachment: fixed;
			}

			#simpleBgTwo{
				width: 100%;
				height: 100vh;
				position: sticky;
				top: 0;
				z-index: -1;
				background: url(../img/simpleTwo.png);
				background-size: 100% 100%;
				margin-top: -100vh;
				transition: all .7s linear;
				// background-position: center top;
				// background-size: cover;
				// background-attachment: fixed;
			}
			
			#animationFour{
				width: 100%;
				height: 160vh;
				position: relative;
				margin-top: -100vh;
				#containerCover{
					width: 100%;
					height: 100vh;
					position: sticky;
					top: 0;
					overflow: hidden;
				}
				#containerFour{
					width: 100%;
					height: 100vh;
					position: sticky;
					top: 0;
					overflow: hidden;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					.title{
						transform: translateY(30vh);
						color: #FFFFFF;
						font-size: 64px;
						font-weight: 600;
						line-height: 72px;
						white-space: nowrap;
					}
					.content{
						width: 1200px;
						margin-top: 120px;
						
						.listContent{
							width: 100%;
							display: flex;
							// flex-wrap: wrap;
							justify-content: space-between;
							opacity: 0;
							transform: translateY(150%);
							margin-bottom: 60px;
							.list{
								display: flex;
								align-items: flex-start;
								
								.icon_logo{
									width: 72px;
									height: 72px;
									margin-right: 32px;
								}
								.words{
									flex: 1;
									text-align: left;
									color: #FFFFFF;
									.name{
										font-weight: 600;
										font-size: 20px;
										margin-bottom: 16px;
									}
									.des{
										width: 460px;
										font-size: 18px;
										line-height: 28px;
										opacity: .8;
									}
								}
							}
						}
						
					}
				}
			}
			
			#animationFive{
				width: 100%;
				height: 190vh;
				position: relative;
				#containerFive{
					width: 100%;
					height: 100vh;
					position: sticky;
					top: 0;
					background-color: #ffffff;
					overflow: hidden;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: space-between;
					padding-top: 25.5vh;
					.title{
						color: #000000;
						font-size: 64px;
						font-weight: 600;
						line-height: 64px;
						transform: translateY(90px);
						opacity: 0;
						transition: all .8s ease;
					}
					.container{
						// width: 348px;
						// height: 707px;
						width: 16.23vw;
						height: 32.46vw;
						position: relative;
						// top: 135px;
						top: 7.07vw;
						img{
							// width: 348px;
							// height: 707px;
							width: 16.23vw;
							height: 32.46vw;
							position: absolute;
							top: 0;
							left: 0;
							transition: all .3s linear;
						}
						div{
							position: absolute;
							top: 30%;
							font-size: 24px;
							opacity: 0;
							transform: translateY(150%);
							white-space: nowrap;
							transition: all .5s ease;
						}
						#animationFiveWordsOne{
							right: calc(14vw + 100%);
						}
						#animationFiveWordsTwo{
							left: calc(14vw + 100%);
						}
						#animationFiveImgOne{
							z-index: 2;
							// transform: scale(1.2);
							// transform-origin: bottom;
						}
						#animationFiveImgTwo{
							z-index: 1;
						}
					}
				}
				
			}

			.test{
				height: 20000px;
				background: gainsboro;
			}